@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
}

text-logo {
    background: 'linear-gradient(135deg, #FF6B35 0%, #F7931E 100%)';
}

.mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.mobile-menu.open {
  max-height: 500px; 
  opacity: 1;
  visibility: visible;
}